<nav class="navbar navbar-expand-lg nav-border">
    <div class="container-fluid">
      <a class="navbar-brand test-font" href="#">
        <!-- <img src="../assets/logo/adriel-logo.png" alt="Logo" width="30" height="2" class="d-inline-block align-text-top"> -->
        Adriel Music
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/careers" routerLinkActive="active-link">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop" routerLinkActive="active-link">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>